@font-face {
    font-family: "Rubik";
    src: url('../fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
    font-family: "Exo";
    src: url('../fonts/Exo2/Exo2-Medium.ttf');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: "Oswald";
    src: url('../fonts/Oswald/Oswald-Regular.ttf');
}

@font-face {
    font-family: "Playfair Display";
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf');
}

@font-face {
    font-family: "Karla";
    src: url('../fonts/Karla/Karla-Bold.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway/Raleway-Light.ttf');
}

@font-face {
    font-family: "Raleway-Medium";
    src: url('../fonts/Raleway/Raleway-Medium.ttf');
}

body {
    padding: 0 0;
    margin: 0 0;
}

html, body{
    height: 100%;
}

.l-wrapper {
    display: grid;
}

@media only screen and (max-width: 999px) and (min-width: 0px) {

    .l-wrapper {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: auto auto auto auto 40rem 15rem 6rem;
        grid-template-areas:
            "topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav"
            "headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav"
            "bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav"
            "carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            "footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom"
            ;
    }

    .l-topNav {
        grid-area: topNav;
        background: #ffffff;
        color: #ffffff;
        padding: 0px;
        display: inline-flex;
        width: 100%;
    }

    .l-headerNav {
        grid-area: headerNav;
        background-color: #252730;
        width: 100%;
    }

    .l-bottomNav {
        grid-area: bottomNav;
        background-color: #ffffff;
        border-bottom: solid 2px #252730;
        width: 100%;
    }

    .l-carousel {
        grid-area: carousel;
        width: 100%;
    }

    .l-main {
        grid-area: main;
    }

    .l-footer {
        grid-area: footer;
        background: #2f3640;
    }

    .l-footerBottom {
        grid-area: footerBottom;
        background: #252730;
    }

    /* HEADER PRINCIPAL */

    .companyNameSpace {
        width: 50%;
        height: auto;
        /* margin: 4px; */
    }

    .comapanyName {
        font-family: "Rubik";
        text-align: center;
        margin: 0 0;
        height: 100%;
    }

    .linkCompanyName {
        color: #252730;
        text-decoration: none;
        position: relative;
        font-size: 25px;
        top: -.3rem;
    }

    .linkCompanyName:hover {
        text-decoration: none;
    }

    .navClass {
        background: #ffffff; 
        border-bottom: solid 1px #b2b4b8;
    }


    /* ESPAÇO DO USUÁRIO HEADER */

    .topNavCity {
        width: 25%;
        height: auto;
        /* margin: 4px; */
    }

    .linkMenuTopNavCityMobile {
        position: relative;
        list-style: none;
        padding: 0 0;
        margin: 0 0;
        text-align: left;
        position: relative;
        top: .8rem;
        padding-left: .9rem;
        width: 100%;
        color: #252730;
        font-family: "Raleway-Medium";
        font-size: 10px;
    }

    .linkMenuTopNavCityMobile:hover {
        color: rgb(173, 2, 253);
        text-decoration: none;
        transition: color 250ms ease-in-out;
    }

    .menuTopNav {
        display: none;
    }

    .menuTopNavMobile {
        width: 25%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .celulaTopNavMobile {
        position: relative;
        width: 20%;
        height: 100%;
        list-style: none;
        text-align: center;
        margin: 0 .5rem 0 0;
        padding: 0 0;
        float: right;
    }

    .celulaTopNavCityMobile {
        width: 45%;
        height: 100%;
        text-align: center;
        list-style: none;
        display: inline-block;
    }

    .linkMenuTopNavMobile i {
        font-size: 16px;
    }
    
    .linkMenuTopNavMobile {
        text-decoration: none;
        color: #252730;
        height: 100%;
        position: relative;
        font-size: 12px;
        font-family: "Raleway-Medium";
        position: relative;
        top: .65rem;
    }
    
    .linkMenuTopNavMobile:hover {
        color: rgb(173, 2, 253);
        text-decoration: none;
        transition: color 250ms ease-in-out;
    }

    /* BARRA DE PESQUISA */

    .searchSpace {
        display: none;
    }

    .searchSpaceMobile {
        position: relative;
        width: 50%;
        left: 25%;
        margin: .5rem 0;
    }

    .searchBoxHeader {
        background: #ffffff;
        height: 20px;
        padding: 4px;
        border: solid 1px #b2b4b8;
        position: relative;
        border-radius: 3%;
    }

    .formPesquisaHeader {
        display: flex;
    }
    
    .pesquisaBtnHeader {
        width: 25px;
        height: 25px;
        border-radius: 10%;
        background: #252730;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #e2e3e6;
        cursor: pointer;
        text-decoration: none;
        border: none;
        margin-top: -.19rem;
        float: right;
    }

    .pesquisaBtnHeader > i {
        font-size: 16px;
    }

    .pesquisaTxtHeader {
        border: none;
        background: none;
        outline: none;
        font-size: 13px;
        width: 100%;
        color: #2f3640;
        position: relative;
        top: 0rem;
    }
    
    /* MENU CAROUSEL */
    
    .menuCarousel {
        display: none;
    }

    .menuCarousel .owl-stage-outer {
        display: none;
    }

    .menuCarouselMobile {
        background: transparent;
        position: relative;
        margin: .8em 0;
    }
    
    .celulaMenuCarousel {
        display: none;
    }
    
    .celulaMenuCarouselMobile {
        border: none;
        text-align: center;
        border-radius: 5%;
        text-decoration: none;
        padding: 5px 0;
        border: solid 1px #b2b4b8;
        position: relative;
    }

    .celulaMenuCarouselMobile:hover {
        text-decoration: none;
        background: #252730;
        transition: background 250ms ease-in-out;
    }

    .celulaMenuCarouselMobile:hover .linkMenuCarouselMobile {
        color: #ffffff;
        transition: color 250ms ease-in-out;
    }

    .celulaMenuCarouselMobile a i {
        color: rgb(173, 2, 253);
        font-size: 22px;
        margin-left: 5px;
    }

    .linkBtnMenu{
        text-decoration: none;
    }

    .imgMenu {
        position: relative;
        width: 1rem;
    }

    .linkMenuCarouselMobile {
        color: #252730;
        margin: 0 0;
        padding: 0 0;
        position: relative;
        text-decoration: none;
        font-family: "Raleway";
        font-size: 10px;
    }

    /* CAROUSEL */
    
    .imgCarousel {
        max-height: 26rem;
    }

    /* DISPLAY PRODUCTS */

    .tituloOfertas {
        position: relative;
        font-family: "Raleway";
        font-size: 1rem;
        width: 100%;
        text-align: center;
        /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%); */
        padding: 10px 0;
        margin: 0 0;
        color: #252730;
    }

    .productsClass {
        min-height: 20rem;
        border: solid 1px #e2e3e6;
        margin: 0 15px;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1000px) {

    .l-wrapper {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: 3rem 5.5rem auto 40rem 15rem 6rem;
        grid-template-areas:
            "topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav"
            "headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav"
            "carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            "footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom"
            ;
    }

    .l-topNav {
        grid-area: topNav;
        background: #ffffff;
        color: #ffffff;
        padding: 0px;
        display: inline-flex;
        width: 100%;
    }

    .l-headerNav {
        grid-area: headerNav;
        background-color: #ffffff;
        border-bottom: solid 2px #252730;
        margin-bottom: 2px;
        width: 100%;
    }

    .l-carousel {
        grid-area: carousel;
        width: 100%;
    }

    .l-main {
        grid-area: main;
        margin-top: 2px;
    }

    .l-footer {
        grid-area: footer;
        background: #2f3640;
    }

    .l-footerBottom {
        grid-area: footerBottom;
        background: #252730;
    }

    /* HEADER PRINCIPAL */

    .headerClass {
        height: 4rem;
        background: #ffffff;
        border-bottom: solid 1px #e2e3e6;
    }

    .companyNameSpace {
        width: 25%;
        height: auto;
        margin: 4px;
    }

    .comapanyName {
        font-family: "Rubik";
        text-align: center;
        margin: 0 0;
    }

    .linkCompanyName {
        color: #252730;
        text-decoration: none;
        position: relative;
        font-size: 25px;
        top: -.2rem;
    }

    .linkCompanyName:hover {
        text-decoration: none;
    }

    .navClass {
        background: #ffffff; 
        border-bottom: solid 1px #b2b4b8;
    }

        /* BARRA DE PESQUISA */
    
    .searchSpace {
        position: relative;
        width: 50%;
        margin: 4px;
    }

    .searchSpaceMobile {
        display: none;
    }

    .searchBoxHeader {
        background: #ffffff;
        height: 20px;
        padding: 4px;
        border: solid 1px #b2b4b8;
        position: relative;
        top: .34rem;
        border-radius: 3%;
    }

    .formPesquisaHeader {
        display: flex;
    }

    .pesquisaBtnHeader {
        width: 25px;
        height: 25px;
        border-radius: 10%;
        background: #252730;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #e2e3e6;
        cursor: pointer;
        text-decoration: none;
        border: none;
        margin-top: -.19rem;
        float: right;
    }

    .pesquisaBtnHeader > i {
        font-size: 16px;
    }

    .pesquisaTxtHeader {
        border: none;
        background: none;
        outline: none;
        font-size: 13px;
        width: 100%;
        color: #2f3640;
        position: relative;
        top: 0rem;
    }

    /* ESPAÇO DO USUÁRIO HEADER */

    .topNavCity {
        display: none; 
    }
    
    .menuTopNavCityMobile {
        display: none;
    }
    
    .menuTopNav {
        height: auto;
        margin-right: .4%;
        margin-top: .2%;
        margin-bottom: .2%;
        margin-left: 2.5%;
        padding: 2px;
        width: 25%;
        background: #252730;
        border-radius: 15px 5px 15px 5px;
    }

    .menuTopNavMobile {
        display: none;
    }

    .celulaTopNav {
        position: relative;
        width: 25%;
        height: 100%;
        list-style: none;
        text-align: center;
        display: inline-block;
    }

    .celulaTopNav-City {
        width: 45%;
        height: 100%;
        text-align: center;
        list-style: none;
        display: inline-block;
    }

    .linkMenuTopNav i {
        font-size: 16px;
    }
    
    .linkMenuTopNav {
        text-decoration: none;
        color: #ffffff;
        height: 100%;
        position: relative;
        top: .6rem;
        font-size: 12px;
        font-family: "Raleway-Medium";
    }
    
    .linkMenuTopNav:hover {
        color: rgb(173, 2, 253);
        text-decoration: none;
        transition: color 250ms ease-in-out;
    }

    /* MENU CAROUSEL */

    .menuCarousel {
        background: transparent;
        position: relative;
        top: .4rem;
    }

    .menuCarouselMobile .owl-stage-outer {
        display: none;
    }

    .menuCarouselMobile {
        display: none;
    }

    .celulaMenuCarousel {
        border: none;
        text-align: center;
        border-radius: 5%;
        text-decoration: none;
        padding: 5px 0;
        border: solid 1px #b2b4b8;
        position: relative;
    }

    .celulaMenuCarousel:hover {
        text-decoration: none;
        background: #252730;
        transition: background 250ms ease-in-out;
    }

    .celulaMenuCarousel:hover .linkMenuCarousel {
        color: #ffffff;
        transition: color 250ms ease-in-out;
    }

    .celulaMenuCarousel a i {
        color: rgb(173, 2, 253);
        font-size: 26px;
        margin-left: 5px;
    }

    .linkBtnMenu{
        text-decoration: none;
    }

    .imgMenu {
        position: relative;
        width: 1rem;
    }

    .linkMenuCarousel {
        color: #252730;
        margin: 0 0;
        padding: 0 0;
        position: relative;
        text-decoration: none;
        font-family: "Raleway";
        font-size: 12px;
    }

    /* CAROUSEL */
    
    .imgCarousel {
        max-height: 26rem;
    }

    /* DISPLAY PRODUCTS */

    .tituloOfertas {
        position: relative;
        font-family: "Raleway";
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        margin: 0 0;
        color: #252730;
    }

    .productsClass {
        min-height: 20rem;
        border: solid 1px #e2e3e6;
        margin: 0 15px;
    }
}

