@font-face {
    font-family: "Rubik";
    src: url('../fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
    font-family: "Exo";
    src: url('../fonts/Exo2/Exo2-Medium.ttf');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: "Oswald";
    src: url('../fonts/Oswald/Oswald-Regular.ttf');
}

@font-face {
    font-family: "Playfair Display";
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf');
}

@font-face {
    font-family: "Karla";
    src: url('../fonts/Karla/Karla-Regular.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway/Raleway-Light.ttf');
}

@font-face {
    font-family: "Raleway-Medium";
    src: url('../fonts/Raleway/Raleway-Medium.ttf');
}

@font-face {
    font-family: "Raleway-Black";
    src: url('../fonts/Raleway/Raleway-Black.ttf');
}

@font-face {
    font-family: "Bowlby";
    src: url('../fonts/Title/BowlbyOneSC-Regular.ttf');
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/Open/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Open Sans - Semi Bold";
    src: url('../fonts/Open/OpenSans-SemiBold.ttf');
}

body {
    padding: 0 0;
    margin: 0 0;
    font-family: "Raleway";
}

html, body{
    height: 100%;
    overflow-x: hidden;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="email"],
input[type="password"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

.l-wrapper {
    display: grid;
}

@media only screen and (max-width: 849px) and (min-width: 0px) {

    .l-wrapper {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: auto auto auto auto auto 21rem 6rem;
        grid-template-areas:
            "topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav"
            "headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav"
            "bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav"
            "carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            "footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom"
            ;
    }

    .l-topNav {
        grid-area: topNav;
        background: #ffffff;
        color: #ffffff;
        padding: 0px;
        display: inline-flex;
        width: 100%;
    }

    .l-headerNav {
        grid-area: headerNav;
        background-color: #252730;
        width: 100%;
    }

    .l-bottomNav {
        grid-area: bottomNav;
        background-color: #ffffff;
        border-bottom: solid 2px #252730;
        width: 100%;
    }

    .l-carousel {
        grid-area: carousel;
        width: 100%;
    }

    .l-main {
        grid-area: main;
        margin: .3rem 0;
    }

    .l-footer {
        grid-area: footer;
        background: #2f3640;
    }

    .l-footerBottom {
        grid-area: footerBottom;
        background: #252730;
    }

    /* HEADER PRINCIPAL */

    .companyNameSpace {
        width: 50%;
        height: auto;
        /* margin: 4px; */
    }

    .comapanyName {
        font-family: "Rubik";
        text-align: center;
        margin: 0 0;
        height: 100%;
    }

    .linkCompanyName {
        color: #252730;
        text-decoration: none;
        position: relative;
        font-size: 25px;
        top: .1rem;
    }

    .linkCompanyName img {
        width: 12rem;
    }

    .linkCompanyName:hover {
        text-decoration: none;
    }

    .navClass {
        background: #ffffff; 
        border-bottom: solid 1px #b2b4b8;
    }


    /* ESPAÇO DO USUÁRIO HEADER */

    .topNavCity {
        width: 25%;
        height: auto;
        /* margin: 4px; */
    }

    .linkMenuTopNavCityMobile {
        position: relative;
        list-style: none;
        padding: 0 0;
        margin: 0 0;
        text-align: left;
        position: relative;
        top: .8rem;
        padding-left: .7rem;
        width: 100%;
        color: #252730;
        font-family: "Raleway-Medium";
        font-size: 9px;
    }

    .linkMenuTopNavCityMobile:hover {
        color: #9C45EB;
        text-decoration: none;
        transition: color 250ms ease-in-out;
    }

    .menuTopNav {
        display: none;
    }

    .menuTopNavMobile {
        width: 25%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .celulaTopNavMobile {
        position: relative;
        width: 20%;
        height: 100%;
        list-style: none;
        text-align: center;
        margin: 0 .5rem 0 0;
        padding: 0 0;
        float: right;
    }

    .celulaTopNavCityMobile {
        width: 45%;
        height: 100%;
        text-align: center;
        list-style: none;
        display: inline-block;
    }

    .linkMenuTopNavMobile i {
        font-size: 16px;
    }
    
    .linkMenuTopNavMobile {
        text-decoration: none;
        color: #252730;
        height: 100%;
        position: relative;
        font-size: 12px;
        font-family: "Raleway-Medium";
        position: relative;
        top: .65rem;
    }
    
    .linkMenuTopNavMobile:hover {
        color: #9C45EB;
        text-decoration: none;
        transition: color 250ms ease-in-out;
    }

    /* BARRA DE PESQUISA */

    .searchSpace {
        display: none;
    }

    .searchSpaceMobile {
        position: relative;
        width: 50%;
        left: 25%;
        margin: .5rem 0;
    }

    .searchBoxHeader {
        background: #ffffff;
        height: 20px;
        padding: 4px;
        border: solid 1px #b2b4b8;
        position: relative;
        border-radius: 3%;
    }

    .formPesquisaHeader {
        display: flex;
    }
    
    .pesquisaBtnHeader {
        width: 25px;
        height: 25px;
        border-radius: 10%;
        background: #252730;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #e2e3e6;
        cursor: pointer;
        text-decoration: none;
        border: none;
        margin-top: -.19rem;
        float: right;
    }

    .pesquisaBtnHeader > i {
        font-size: 16px;
    }

    .pesquisaTxtHeader {
        border: none;
        background: none;
        outline: none;
        font-size: 13px;
        width: 100%;
        color: #2f3640;
        position: relative;
        top: -.1rem;
    }
    
    /* MENU CAROUSEL */
    
    .menuCarousel {
        display: none;
    }

    .menuCarousel .owl-stage-outer {
        display: none;
    }

    .menuCarouselMobile {
        background: transparent;
        position: relative;
        margin: .8em 0;
    }
    
    .celulaMenuCarousel {
        display: none;
    }
    
    .celulaMenuCarouselMobile {
        border: none;
        text-align: center;
        border-radius: 5%;
        text-decoration: none;
        padding: 5px 0;
        border: solid 1px #9C45EB;
        position: relative;
        background: #9C45EB;
    }

    .celulaMenuCarouselMobile:hover {
        text-decoration: none;
        background: #252730;
        border: solid 1px #252730;
        transition: background 250ms ease-in-out;
        transition: border 250ms ease-in-out;
    }

    .celulaMenuCarouselMobile:hover a i {
        color: rgb(211, 103, 253);
        transition: color 250ms ease-in-out;
    }

    .celulaMenuCarouselMobile a i {
        color: #ffffff;
        font-size: 20px;
        margin-left: 5px;
    }

    .linkBtnMenu{
        text-decoration: none;
    }

    .imgMenu {
        position: relative;
        width: 1rem;
    }

    .linkMenuCarouselMobile {
        color: #ffffff;
        margin: 0 0;
        padding: 0 0;
        position: relative;
        text-decoration: none;
        font-family: "Raleway";
        font-size: 7px;
    }

    /* CAROUSEL */
    
    .imgCarousel {
        max-height: 26rem;
    }

    /* DISPLAY PRODUCTS */

    .tituloOfertas {
        position: relative;
        font-family: "Raleway";
        font-size: 1rem;
        width: 100%;
        text-align: center;
        /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%); */
        padding: 10px 0;
        margin: 0 0;
        color: #252730;
    }

    .productsClass {
        min-height: 20rem;
        border: solid 1px #e2e3e6;
        margin: 0 15px;
    }

    /* MODAL */

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100vw; /* Full width */
        height: 100vh; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 15px;
        border: 1px solid #888;
        width: 50%;
        border-radius: 5px;
        height: 15rem;
        font-family: "Raleway";
      }

      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: relative;
        top: -1.5rem;
        left: .3rem;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
     
    .fechar {
        display:block;
        text-align:right;
    }

    .help-block, .help-block-tel, .help-block-login {
        position: relative;
        top: -1.5rem;
        font-family: 'Raleway-Medium';
    }

    .titleModalLogin {
        font-family: "Raleway-Medium";
        text-align: center;
        margin: .4rem;
    }

    .labelInput {
        font-family: "Raleway-Medium";
        font-size: 13px;
        position: relative;
        left: .4rem;
        color: #9C45EB;
    }

    .inputModal {
        margin: .4rem;
        width: 91.5%;
        font-family: "Raleway";
        border-radius: 5%;
        border: solid 1px #252730;
        padding: 3px;
    }

    .linkCadModal {
        font-family: "Raleway";
    }

    .infModal {
        font-size: 11pt;
    }
    .linkPerfil {
        font-family: "Raleway";
        font-size: 10pt;
        margin-bottom: -5px;
        transition: color .2s;
    }
    .linkPerfil a {
        text-decoration: none;
        transition: color .2s;
    }
    .linkPerfil a:hover, .linkPerfil a:focus {
        text-decoration: none;
        color: #b2b4b8;
    }

    .textModal {
        text-align: center;
        font-size: 12px;
    }

    .btnSend {
        position: relative;
        background: #9C45EB;
        border: none;
        height: 2rem;
        border-radius: 3px;
        font-family: "Raleway-Medium";
        color: #ffffff;
        float: right;
    }

    .btnSend:hover {
        background: #252730;
        color: #ffffff;
        transition: 250ms ease-in-out color;
        transition: 250ms ease-in-out background;
    }

    .fa-grip-lines {
        position: relative;
        color: #9C45EB;
    }

   /* DISPLAY PRODUCTS */

   .loop {
    width: 100%;
    }

    .tituloOfertas {
        position: relative;
        font-family: "Bowlby";
        font-size: 11px;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        margin: .1rem 0;
        color: #2f3640;
        letter-spacing: 2px;
    }

    .l-prods {
        position: relative;
        width: 100vw;
        top: -1rem;
        background: #ffffff;
        padding-top: 0;
        padding-bottom: 1.2rem;
    }

    .divProdCarousel {
        background: #ffffff;
        border-top: #2f3640 solid 2px;
        border-bottom: #2f3640 solid 2px;
        transition: 100ms box-shadow ease-in-out;
        border-radius: 2px;
        padding: 2px;
        height: 9rem;
    }

    .divProdCarousel:hover {
        box-shadow: 0px 5px 5px 5px rgba(155, 154, 154, 0.5);
    }

    .divProdCarousel i {
        float: right;
        color: #9C45EB;
        margin: .2rem;
        cursor: pointer;
        font-size: 10px;
    }

    .divProdCarousel i:hover {
        transform: scale(1.1);
        transition: ease-in-out 100ms transform;
    }

    .linksProdCarousel {
        text-decoration: none;
    }

    .divProdImg {
        width: 100%;
        height: 45%;
    }

    .divProdPromo {
        position: absolute;
        background: #9C45EB;
        color: #fff;
        top: -.4rem;
        padding: .2rem;
        font-size: 9px;
        font-family: "Karla";
    }

    .divProdTitle {
        color: #252730;
        text-align: left;
        font-size: 9px;
        margin: 0;
        text-transform: lowercase;
        font-family: "Raleway";
    }

    .divProdPrice {
        margin: 0;
        position: absolute;
        top: 80%;
        left: 4%;
        color: #2f3640;
        font-size: 11px;
        font-family: "Karla";
    }
    
    .divProdPrice1 {
        font-size: 7px;
        text-decoration: line-through;
    }

    .btnBuy {
        background: #9C45EB;
        border: none;
        height: 1rem;
        color: #ffffff;
        font-size: 10px;
        font-family: "Karla";
        position: absolute;
        top: 90%;
        width: 100%;
        left: 0;
        cursor: pointer;
    }

    /* FOOTER */

    .footerList {
        position: relative;
        width: 80%;
        height: 40%;
        margin: auto;
        text-align: center;
    }

    .footer-nav{
        float: left;
        list-style: none;
        margin: auto;
        padding: 0;
        top: 1.15rem;
        position: relative;
        width: 33%;
    }

    .titleListFooter {
        color: #33FFED;
        font-size: 11px;
        margin-bottom: 0rem;
        font-family: "Open Sans";
    }

    .footer-nav li {
        margin: 0;
        font-family: "Open Sans";
    }

    .linkListFooter {
        text-decoration: none;
        color: #d3d2d2;
        font-size: 10px;
    }

    .socialMediaDiv {
        position: relative;
        width: 100%;
        height: auto;
        list-style: none;
        margin-top: 2rem;
        padding: .4rem 0;
    }

    .titleSocialMedia {
        margin: 0;
        color: #33FFED;
        font-size: 10px;
        font-family: "Open Sans";
        width: auto;
        text-align: center;
    }

    .listSocialMedia li {
        margin: .2rem 0;
        font-family: "Open Sans";
        display: inline-block;
    }

    .listSocialMedia {
        list-style: none;
        margin: 0;
        padding: 0;
        top: .6rem;
        position: relative;
        width: 100%;
        text-align: center;
    }

    .linkListSocialMedia {
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        margin: .5rem;
    }

    .contactDiv {
        position: relative;
        width: 80%;
        height: auto;
        margin: 1rem auto;
    }

    .contactDiv form {
        position: relative;
    }

    .titleContact {
        margin: 0;
        color: #33FFED;
        font-size: 10px;
        font-family: "Open Sans";
        width: auto;
        position: relative;
        top: .4rem;
    }

    .inputContact {
        border: none;
        background: #ffffff;
        border-radius: 3px;
        height: 25px;
        width: 75%;
        position: relative;
        margin-top: 18px;
    }

    .btnContact {
        background: #33FFED;
        border: none;
        font-size: 10px;
        font-family: "Open Sans - Semi Bold";
        height: 30px;
        margin: 0;
        width: 19%;
        color: #252730;
        position: relative;
        top: 1px;
    }

    /* BOTTOM FOOTER */

    .copyright {
        position: relative;
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: 10px;
        margin: .3rem;
        top: 1rem;
        font-family: "Open Sans";
    }

    .copyrightReserved {
        position: relative;
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: 10px;
        margin: .3rem;
        font-family: "Open Sans";
    }

    .copyrightReserved a {
        text-decoration: none;
        color: #33FFED;
    }


    /* PAGE --> CADASTRO.PHP */

    .l-wrapper_cadastro {
        display: grid;
    }

    .l-wrapper_cadastro {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: auto auto auto 22rem 6rem;
        grid-template-areas:
            "topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav"
            "headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            "footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom"
            ;
    }

    .l-topNavCad {
        grid-area: topNav;
        background: #ffffff;
        color: #ffffff;
        padding: 0px;
        display: inline-flex;
        width: 100%;
        border-bottom: 1px solid #b2b4b8;
    }

    .l-headerNavMobile {
        grid-area: headerNav;
        background-color: #252730;
        width: 100%;
    }

    .l-mainCad {
        grid-area: main;
        margin: 1rem 0;
    }

    .l-footerCad {
        grid-area: footer;
        background: #2f3640;
    }

    .l-footerBottomCad {
        grid-area: footerBottom;
        background: #252730;
    }
    
    .circleCad {
        position: relative;
        width: 5rem;
        height: 5rem;
        background: #9C45EB;
        border-radius: 50%;
        left: 14%;
        z-index: 1;
    }


    .circleCad p {
        margin: 0;
        font-family: "Raleway";
        text-align: center;
        color: #ffffff;
        font-size: 12px;
        position: relative;
        top: .9rem;
        transform: rotate(-25deg);
    }
    
    .divCad {
        position: relative;
        width: 60%;
        left: 20%;
        border: solid #252730 1px;
        border-radius: 3px;
        background: #ffffff;
        top: -4%;
    }

    .divCad form {
        padding: 10px;
    }

    .divCad h2 {
        font-family: "Raleway-Medium";
        margin: .5rem .5rem 1.2rem .5rem;
        font-size: 16px;
        text-align: center;
    }

    .sectionInputCad {
        width: 90%;
        margin: auto;
    }

    .sectionInputCad input {
        width: 100%;
        border: none;
        background: rgb(243, 240, 240);
        border-radius: 2px;
        font-family: "Raleway";
        position: relative;
        height: 1.5rem;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: auto;
    }

    .sectionInputCadPassword {
        width: 90%;
        margin: auto;
    }

    .sectionInputCadPassword input {
        width: 100%;
        border: none;
        background: rgb(243, 240, 240);
        border-radius: 2px;
        font-family: "Raleway";
        position: relative;
        height: 1.5rem;
        top:-.65rem;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: auto;
    }

    .outsideSecInputCad {
        height: 3rem;
        margin-bottom: .8rem;
    }

    .labelInputCad {
        position: relative;
        float: left;
        font-family: "Raleway-Medium";
        font-size: 13px;
        color: #9C45EB;
    }

    .sectionInputCad .workAsInput {
        width: 100%;
        border: none;
        background: rgb(243, 240, 240);
        border-radius: 2px;
        font-family: "Raleway";
        position: relative;
        top:0;
        height: 1.5rem;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: auto;
    }

    .selectTypeTel {
        width: 100%;
        border: none;
        background: rgb(243, 240, 240);
        position: relative;
        top: .45rem;
        border-radius: 2px;
        font-family: "Raleway";
        height: 1.5rem;
    }

    .optionCad {
        position: relative;
    }

    .btnAddTel {
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 34.5rem;
        left: 12.5%;
    }

    .sectionInputCadPlus {
        width: 90%;
        margin: auto;
    }

    .sectionInputCadPlus input {
        width: 100%;
        border: none;
        background: rgb(243, 240, 240);
        border-radius: 2px;
        font-family: "Raleway";
        position: relative;
        height: 1.5rem;
        top: 3rem;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: auto;
    }

    .selectTypeTelPlus {
        width: 100%;
        border: none;
        background: rgb(243, 240, 240);
        border-radius: 2px;
        font-family: "Raleway";
        position: relative;
        height: 1.5rem;
        top: 3.3rem;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: auto;
    }

    .btnAddTel {
        padding: 0;
        position: absolute;
        left: 8%;
        top: 34.1rem;
    }
    
    .btnAddTel i {
        font-size: 20px;
        color: rgb(152, 248, 9);
    }

    .btnRemove {
        position: relative;
        width: auto;
    }

    .remover_campo {
        color: red;
        position: absolute;
        top: 1.1rem;
        left: -.6rem;
        font-size: 15px;
    }

    .divisorMargin {
        margin-top: 5rem;
    }

    .btnSubCad {
        background: #9C45EB;
        color: #ffffff;
        border: none;
    }

    .btnSubCad:hover {
        background: #252730;
        transition: ease-in-out 250ms background;
    }

    .btnSendCad {
        width: 50%;
        margin: auto;
    }

    .btnSendCad input {
        height: 2rem;
        width: 100%;
        font-family: "Raleway-Medium";
    }

    .inputConfirm {
        height: 1.5rem;
    }

    .divisorTitle {
        font-family: "Raleway-Medium";
    }

    .divisorTitle h5 {
        margin-top: 1rem;
        margin-bottom: .4rem;
        font-size: 13px;
    }

    .divisor {
        position: relative;
        width: 100%;
        height: .5rem;
        background: #9C45EB;
        border-radius: 2px;
        margin-bottom: .8rem;
    }

    .help-block {
        position: relative;
    }

    /* PAGE --> filtroPesqusia.php */

    .l-wrapper_FiltroPesq {
        display: grid;
    }

    .l-wrapper_FiltroPesq {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: auto auto auto auto 22rem 6rem;
        grid-template-areas:
            "topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav"
            "headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav"
            "bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav bottomNav"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            "footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom"
            ;
    }

    .l-topNavFiltroPesq {
        grid-area: topNav;
        background: #ffffff;
        color: #ffffff;
        padding: 0px;
        display: inline-flex;
        width: 100%;
    }

    .l-headerNav {
        grid-area: headerNav;
        background-color: #252730;
        width: 100%;
    }

    .l-bottomNav {
        grid-area: bottomNav;
        background-color: #ffffff;
        border-bottom: solid 2px rgb(243, 240, 240);
        width: 100%;
    }

    .l-mainFiltroPesq {
        grid-area: main;
        margin: 1rem 0;
        width: 100%;
    }

    .l-footerFiltroPesq {
        grid-area: footer;
        background: #2f3640;
    }

    .l-footerBottomFiltroPesq {
        grid-area: footerBottom;
        background: #252730;
    }

    .center_header {
        position: relative;
        width: 100%;
    }

    .tilteFilterProd {
        width: 100%;
        text-align: center;
    }

    .tilteFilterProd h4 {
        font-family: "Bowlby";
        margin: .6rem 0;
    }

    .tilteFilterProd i {
        color: #9C45EB;
    }

    .center_header h5 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 2rem;
        color: #252730;
    }

    .selectFilter {
        width: 50%;
        float: right;
        margin-right: 10%;
        font-family: "Raleway";
        height: 25px;
        position: relative;
        /* top: 0px; */
        border: none;
        background: rgb(243, 240, 240);
        border-radius: 2px;
    }

    .selectFilter option {
        border: none;
    }

    .filtro_pesquisaMobile {
        width: 80%;
        margin: auto;
        border: none;
        border-radius: 3px;
        background: #ffffff;
        padding-bottom: .4rem;
    }

    .filtro_pesquisa {
        display: none;
    }

    .titleFilter {
        width: 100%;
        text-align: center;
        color: #2f3640;
        margin: .8rem 0;
    }

    .titleFilter i {
        color: #9C45EB;
    }

    .titleConfigFilter {
        position: relative;
        width: 10%;
        margin: .6rem 0;
        font-size: 10px;
        font-family: "Raleway-Medium";
        margin-left: 10%;
        color: #2f3640;
    }

    .titleConfigFilter i {
        color: #252730;
    }

    .divFilter {
        margin: 1rem 0;
    }

    .divShowProdFilter {
        position: relative;
        width: 100%;
    }

    .divShowProdFilter .prod {
        position: relative;
        width: 66.4%;
        margin: auto;
        border: #e2e3e6 solid 1px;
        border-radius: 3px;
        margin-top: 1rem;
        padding: .5rem;
    }

    .divShowProdFilter .prod img{
        position: relative;
        width: 50%;
        left: 25%;
    }

    .titleProdFilter {
        position: relative;
        width: 100%;
        margin: .6rem 0;
    }

    .priceProdFilter {
        margin: .4rem 0;
        font-family: "Karla";
    }

    .btnFavoriteFilter {
        float: right;
        color: #9C45EB;
        font-size: 18px;
    }
    
    .divisorFilter {
        position: relative;
        width: 100%;
        height: .2rem;
        background: #9C45EB;
        border-radius: 2px;
    }

}

@media only screen and (max-width: 1600px) and (min-width: 850px) {

    .l-wrapper {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: 3rem 5rem auto 40rem 15rem 6rem;
        grid-template-areas:
            "topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav"
            "headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav"
            "carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            "footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom"
            ;
    }

    .l-topNav {
        grid-area: topNav;
        background: #ffffff;
        color: #ffffff;
        padding: 0px;
        display: inline-flex;
        width: 100%;
    }

    .l-headerNav {
        grid-area: headerNav;
        background-color: #ffffff;
        border-bottom: solid 2px rgb(235, 232, 232);
        margin-bottom: 2px;
        width: 100%;
    }

    .l-carousel {
        grid-area: carousel;
        width: 100%;
        border-bottom: solid 2px rgb(235, 232, 232);
        padding-bottom: 2.5px;
    }

    .l-main {
        grid-area: main;
        background: #ffffff;
    }

    .l-footer {
        grid-area: footer;
        background: #2f3640;
    }

    .l-footerBottom {
        grid-area: footerBottom;
        background: #252730;
    }

    /* HEADER PRINCIPAL */

    .headerClass {
        height: 4rem;
        background: #ffffff;
        border-bottom: solid 1px #e2e3e6;
    }

    .companyNameSpace {
        width: 25%;
        height: auto;
        margin: 4px;
    }

    .comapanyName {
        font-family: "Rubik";
        text-align: center;
        margin: 0 0;
    }

    .linkCompanyName {
        color: #252730;
        text-decoration: none;
        position: relative;
        top: .25rem;
    }

    .linkCompanyName img {
        width: 13rem;
    }

    .linkCompanyName:hover {
        text-decoration: none;
    }

    .navClass {
        background: #ffffff; 
        border-bottom: solid 1px #b2b4b8;
    }

        /* BARRA DE PESQUISA */
    
    .searchSpace {
        position: relative;
        width: 50%;
        margin: 4px;
    }

    .searchSpaceMobile {
        display: none;
    }

    .searchBoxHeader {
        background: #ffffff;
        height: 20px;
        padding: 4px;
        border: solid 1px #b2b4b8;
        position: relative;
        top: .34rem;
        border-radius: 3%;
    }

    .formPesquisaHeader {
        display: flex;
    }

    .pesquisaBtnHeader {
        width: 25px;
        height: 25px;
        border-radius: 10%;
        background: #252730;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #e2e3e6;
        cursor: pointer;
        text-decoration: none;
        border: none;
        margin-top: -.19rem;
        float: right;
    }

    .pesquisaBtnHeader > i {
        font-size: 16px;
    }

    .pesquisaTxtHeader {
        border: none;
        background: none;
        outline: none;
        font-size: 13px;
        width: 100%;
        color: #2f3640;
        position: relative;
    }

    /* ESPAÇO DO USUÁRIO HEADER */

    .topNavCity {
        display: none; 
    }
    
    .menuTopNavCityMobile {
        display: none;
    }
    
    .menuTopNav {
        height: 1.8rem;
        margin: 4px;
        padding: 2px;
        width: 25%;
        background: #ffffff;
    }

    .menuTopNavMobile {
        display: none;
    }

    .celulaTopNav {
        position: relative;
        width: 30%;
        height: 100%;
        list-style: none;
        text-align: center;
        display: inline-block;
        background: #ffffff;
        border-left: 1px solid #252730;
        padding-left: .2rem;
        top: .2rem;
    }

    .celulaTopNavCity {
        position: relative;
        width: 32%;
        height: 100%;
        text-align: center;
        list-style: none;
        display: inline-block;
        background: #252730;
        border-radius: 3px;
        top: .2rem;
    }

    .linkMenuTopNavCity {
        color: #ffffff;
        margin: 0;
        font-family: 'Raleway-Medium';
        position: relative;
        top: .2rem;
        text-decoration: none;
        font-size: 10px;
    }

    .linkMenuTopNavCity i {
        color: rgb(173, 2, 253);
        position: relative;
        top: .4rem;
        font-size: 16px;
    }

    .leftBack {
        background: #ffffff;
        border-radius: 3px;
        height: 100%;
        width: 30%;
        float: left;
        position: relative;
    }

    .linkMenuTopNav i {
        font-size: 16px;
        position: relative;
        top: .4rem;
    }
    
    .linkMenuTopNav {
        text-decoration: none;
        position: relative;
        top: .2rem;
        font-size: 11px;
        font-family: "Raleway-Medium";
        color: #252730;
    }
    
    .celulaTopNav:hover > .linkMenuTopNav .leftBack {
        color: #ffffff;
        background: #252730;
        border: none;
        text-decoration: none;
        transition: background 200ms ease-in-out;
        position: relative;
    }

    .celulaTopNavCity:hover > .linkMenuTopNavCity .leftBack {
        color: #ffffff;
        background: #ffffff;
        border: none;
        text-decoration: none;
        transition: color 200ms ease-in-out;
        position: relative;
    }

    /* MENU CAROUSEL */

    .menuCarousel {
        background: transparent;
        position: relative;
        top: .4rem;
    }

    .menuCarouselMobile .owl-stage-outer {
        display: none;
    }

    .menuCarouselMobile {
        display: none;
    }

    .celulaMenuCarousel {
        border: none;
        text-align: center;
        border-radius: 5%;
        text-decoration: none;
        padding: 5px 0;
        border: solid 1px #9C45EB;
        position: relative;
        background: #9C45EB;
    }

    .celulaMenuCarousel:hover {
        text-decoration: none;
        background: #252730;
        transition: background 250ms ease-in-out;
        transition: border 250ms ease-in-out;
        border: solid 1px #252730;
    }

    .celulaMenuCarousel:hover .linkMenuCarousel {
        color: #ffffff;
        transition: color 250ms ease-in-out;
    }

    .celulaMenuCarousel a i {
        color: #ffffff;
        font-size: 26px;
        margin-left: 5px;
    }

    .celulaMenuCarousel:hover a i {
        color: rgb(211, 103, 253);
        font-size: 26px;
        margin-left: 5px;
        transition: color 250ms ease-in-out;
    }

    .linkBtnMenu{
        text-decoration: none;
    }

    .imgMenu {
        position: relative;
        width: 1rem;
    }

    .linkMenuCarousel {
        color: #ffffff;
        margin: 0 0;
        padding: 0 0;
        position: relative;
        text-decoration: none;
        font-family: "Raleway";
        font-size: 10px;
    }

    /* CAROUSEL */
    
    .imgCarousel {
        max-height: 26rem;
    }

    .productsClass {
        min-height: 20rem;
        border: solid 1px #e2e3e6;
        margin: 0 15px;
    }

    /* MODAL */

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100vw; /* Full width */
        height: 100vh; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      .modal-content {
        background-color: #fefefe;
        margin: 12% auto;
        padding: 15px;
        border: 1px solid #888;
        width: 25%;
        border-radius: 5px;
        height: 15.4rem;
        font-family: "Raleway";
      }

      .close {
        color: #aaa;
        float: right;
        font-size: 32px;
        font-weight: bold;
        position: relative;
        top: -1.5rem;
        left: .3rem;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
     
    .fechar {
        display:block;
        text-align:right;
    }

    .titleModalLogin {
        font-family: "Raleway-Medium";
        text-align: center;
        margin: .4rem;
        font-size: 18px;
    }

    .labelInput {
        font-family: "Raleway-Medium";
        font-size: 14px;
        position: relative;
        left: .4rem;
        top: 1rem;
        color: #9C45EB;
    }

    .inputModal {
        margin: .4rem;
        width: 91.5%;
        font-family: "Raleway";
        border-radius: 5%;
        border: solid 1px #252730;
        padding: 3px;
        height: 1.5rem;
        font-size: 13px;
        position: relative;
        top: .7rem;
    }

    .linkCadModal {
        font-family: "Raleway";
    }

    .linkPerfil {
        font-family: "Raleway";
    }
    .linkPerfil a {
        text-decoration: none;
        transition: color .2s;
    }
    .linkPerfil a:hover, .linkPerfil a:focus {
        text-decoration: none;
        color: #b2b4b8;
    }

    .textModal {
        text-align: center;
        font-size: 14px;
        margin: .4rem 0;
        position: relative;
        top: 1rem;
    }

    .btnSend {
        position: relative;
        background: #9C45EB;
        border: none;
        height: 2.4rem;
        border-radius: 3px;
        font-family: "Raleway-Medium";
        color: #ffffff;
        float: right;
        top: -1rem;
    }

    .btnSend:hover {
        background: #252730;
        color: #ffffff;
        transition: 250ms ease-in-out color;
        transition: 250ms ease-in-out background;
    }

    .fa-grip-lines {
        position: relative;
        color: #9C45EB;
    }

    .help-block, .help-block-tel, .help-block-login {
        position: relative;
        width: 80%;
        left: 10%;
        top: -1rem;
        text-align: center;
        font-family: 'Raleway-Medium';
    }

    /* DISPLAY PRODUCTS */

    .loop {
        width: 100%;
    }
    
    .tituloOfertas {
        position: relative;
        font-family: "Bowlby";
        font-size: 18px;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        margin: .5rem 0;
        color: #2f3640;
        letter-spacing: 2px;
    }

    .l-prods {
        position: relative;
        width: 100vw;
        top: -1rem;
        background: #ffffff;
        padding-top: 0;
        padding-bottom: 1.2rem;
    }

    .divProdCarousel {
        background: #ffffff;
        border-top: #2f3640 solid 3px;
        border-bottom: #2f3640 solid 3px;
        transition: 100ms box-shadow ease-in-out;
        border-radius: 2px;
        padding: 2px;
        height: 18rem;
    }

    .divProdCarousel:hover {
        box-shadow: 0px 5px 5px 5px rgba(155, 154, 154, 0.5);
    }

    .divProdCarousel i {
        float: right;
        color: #9C45EB;
        margin: .2rem;
        cursor: pointer;
    }

    .divProdCarousel i:hover {
        transform: scale(1.2);
        transition: ease-in-out 100ms transform;
    }

    .linksProdCarousel {
        text-decoration: none;
    }

    .divProdImg {
        width: 100%;
        height: 60%;
    }

    .divProdPromo {
        position: absolute;
        background: #9C45EB;
        color: #fff;
        top: -.5rem;
        padding: .5rem;
        font-family: "Karla";
        font-size: 13px;
    }

    .divProdTitle {
        color: black;
        text-align: left;
        font-size: 13px;
        margin: 0;
        margin-top: .4rem;
        font-family: "Raleway";
    }

    .divProdPrice {
        margin: 0;
        position: absolute;
        top: 86.5%;
        left: 4%;
        color: #2f3640;
        font-size: 14pt;
        font-family: "Karla";
    }
    .divProdPrice1 {
        font-size: 9pt;
        text-decoration: line-through;
    }

    .btnBuy {
        background: #9C45EB;
        border: none;
        height: 2rem;
        color: #ffffff;
        font-size: 12px;
        font-family: "Karla";
        position: absolute;
        top: 85%;
        left: 60%;
        cursor: pointer;
    }

    /* FOOTER */

    .footerList {
        position: relative;
        width: 40%;
        height: 100%;
        margin: 0;
        text-align: justify;
        float: left;
    }

    .footer-nav{
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        top: 1.15rem;
        left: 15%;
        position: relative;
        width: 25%;
    }

    .titleListFooter {
        color: rgb(70, 203, 243);
        font-size: 12px;
        margin-bottom: .6rem;
        font-family: "Open Sans";
    }

    .footer-nav li {
        margin: .2rem 0;
        font-family: "Open Sans";
    }

    .linkListFooter {
        text-decoration: none;
        color: #d3d2d2;
        font-size: 12px;
    }

    .socialMediaDiv {
        position: relative;
        width: 20%;
        height: 60%;
        top: 20%;
        float: left;
        list-style: none;
    }

    .titleSocialMedia {
        margin: 0;
        color: rgb(70, 203, 243);
        font-size: 12px;
        font-family: "Open Sans";
        width: auto;
        text-align: center;
    }

    .listSocialMedia li {
        margin: .2rem 0;
        font-family: "Open Sans";
        display: inline-block;
    }

    .listSocialMedia {
        list-style: none;
        margin: 0;
        padding: 0;
        top: .6rem;
        position: relative;
        width: 100%;
        text-align: center;
    }

    .linkListSocialMedia {
        text-decoration: none;
        color: #ffffff;
        font-size: 27px;
        margin: .5rem;
    }

    .contactDiv {
        position: relative;
        width: 40%;
        height: 100%;
        float: left;
    }

    .contactDiv form {
        position: relative;
        top: 3rem;
        padding-left: 12%;
    }

    .titleContact {
        margin: 0;
        color: rgb(70, 203, 243);
        font-size: 12px;
        font-family: "Open Sans";
        width: auto;
        position: relative;
        top: 3rem;
        padding-left: 12%;
    }

    .inputContact {
        border: none;
        background: #ffffff;
        border-radius: 3px;
        height: 25px;
        width: 60%;
        position: relative;
        margin-top: 18px;
    }

    .btnContact {
        background: rgb(70, 203, 243);
        border: none;
        font-size: 13px;
        font-family: "Open Sans - Semi Bold";
        height: 27.5px;
        margin: 0;
        color: #252730;
        position: relative;
        top: 1px;
    }

    /* BOTTOM FOOTER */

    .copyright {
        position: relative;
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: 13px;
        margin: .3rem;
        top: 1rem;
        font-family: "Open Sans";
    }

    .copyrightReserved {
        position: relative;
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: 13px;
        margin: .3rem;
        font-family: "Open Sans";
    }

    .copyrightReserved a {
        text-decoration: none;
        color: rgb(70, 203, 243);
    }

    /* PAGE --> CADASTRO.PHP */

    .l-wrapper_cadastro {
        display: grid;
    }

    .l-wrapper_cadastro {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: 3rem auto 15rem 6rem;
        grid-template-areas:
            "topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            "footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom"
            ;
    }

    .l-topNavCad {
        grid-area: topNav;
        background: #ffffff;
        color: #ffffff;
        padding: 0px;
        display: inline-flex;
        width: 100%;
        border-bottom: 2px solid rgb(243, 240, 240);
    }

    .l-headerNavMobile {
        display: none;
    }

    .l-mainCad {
        grid-area: main;
        margin: 1rem;
    }

    .l-footerCad {
        grid-area: footer;
        background: #2f3640;
    }

    .l-footerBottomCad {
        grid-area: footerBottom;
        background: #252730;
    }
    
    .circleCad {
        position: relative;
        width: 8rem;
        height: 8rem;
        background: #9C45EB;
        border-radius: 50%;
        left: 26%;
        z-index: 1;
    }


    .circleCad p {
        margin: 0;
        font-family: "Raleway-Medium";
        text-align: center;
        color: #ffffff;
        font-size: 15px;
        position: relative;
        top: 2rem;
        left: 5%;
        transform: rotate(-25deg);
        width: 7rem;
    }
    
    .divCad {
        position: relative;
        width: 40%;
        left: 30%;
        border: solid #252730 1px;
        border-radius: 3px;
        margin-top: -4%;
        background: #ffffff;
    }

    .divCad form {
        padding: 10px;
    }

    .divCad h2 {
        font-family: "Raleway-Medium";
        margin: .5rem .5rem 1.2rem .5rem;
        text-align: center;
        font-size: 18px;
    }

    .divCad input {
        width: 70%;
        border: solid 1px #252730;
        border-radius: 2px;
        font-family: "Raleway";
        left: 12.5%;
        position: relative;
        height: 1.6rem;
        margin: .4rem 0;
    }

    .sectionInputCad {
        width: 90%;
        margin: auto;
    }

    .sectionInputCad input {
        width: 100%;
        border: none;
        background: rgb(243, 240, 240);
        border-radius: 2px;
        font-family: "Raleway";
        position: relative;
        height: 1.9rem;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: auto;
    }

    .sectionInputCadPassword {
        width: 90%;
        margin: auto;
    }

    .sectionInputCadPassword input {
        width: 100%;
        border: none;
        background: rgb(243, 240, 240);
        border-radius: 2px;
        font-family: "Raleway";
        position: relative;
        height: 1.9rem;
        top:-.2rem;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: auto;
    }

    .outsideSecInputCad {
        height: 3rem;
        margin-bottom: .8rem;
    }

    .labelInputCad {
        position: relative;
        float: left;
        font-family: "Raleway-Medium";
        font-size: 14px;
        color: #9C45EB;
    }

    .sectionInputCad .workAsInput {
        width: 100%;
        border: none;
        background: rgb(243, 240, 240);
        border-radius: 2px;
        font-family: "Raleway";
        position: relative;
        top:0;
        height: 1.9rem;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: auto;
    }

    .selectTypeTel {
        width: 100%;
        border: none;
        background: rgb(243, 240, 240);
        position: relative;
        top: .45rem;
        border-radius: 2px;
        font-family: "Raleway";
        height: 1.9rem;
    }

    .optionCad {
        position: relative;
    }

    .btnAddTel {
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 34.5rem;
        left: 12.5%;
    }

    .sectionInputCadPlus {
        width: 90%;
        margin: auto;
    }

    .sectionInputCadPlus input {
        width: 100%;
        border: none;
        background: rgb(243, 240, 240);
        border-radius: 2px;
        font-family: "Raleway";
        position: relative;
        height: 1.5rem;
        top: 3rem;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: auto;
    }

    .selectTypeTelPlus {
        width: 100%;
        border: none;
        background: rgb(243, 240, 240);
        border-radius: 2px;
        font-family: "Raleway";
        position: relative;
        height: 1.5rem;
        top: 3.3rem;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: auto;
    }

    .btnAddTel {
        padding: 0;
        position: absolute;
        left: 7%;
        top: 35rem;
    }
    
    .btnAddTel i {
        font-size: 25px;
        color: rgb(152, 248, 9);
    }

    .btnRemove {
        position: relative;
        width: auto;
    }

    .remover_campo {
        color: red;
        position: absolute;
        top: 1.1rem;
        left: -.6rem;
        font-size: 15px;
    }

    .divisorMargin {
        margin-top: 5rem;
    }

    .btnSendCad {
        width: 50%;
        margin: auto;
    }

    .btnSendCad input {
        height: 2rem;
        width: 100%;
        font-family: "Raleway-Medium";
    }

    .btnSubCad {
        background: #9C45EB;
        color: #ffffff;
        border: none;
        width: 100%;
    }

    .btnSubCad:hover {
        background: #252730;
        transition: ease-in-out 250ms background;
    }

    .inputConfirm {
        height: 1.5rem;
    }

    .divisorTitle {
        font-family: "Raleway-Medium";
    }

    .divisorTitle h5 {
        margin-top: 1rem;
        margin-bottom: .4rem;
        font-size: 14px;
    }

    .divisor {
        position: relative;
        width: 100%;
        height: .5rem;
        background: #9C45EB;
        border-radius: 2px;
        margin-bottom: .8rem;
    }

    .help-block {
        position: relative;
    }

    /* PAGE --> filtroPesqusia.php */

    .l-wrapper_FiltroPesq {
        display: grid;
    }

    .l-wrapper_FiltroPesq {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: auto 5rem auto 22rem 6rem;
        grid-template-areas:
            "topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav topNav"
            "headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav headerNav"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            "footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom footerBottom"
            ;
    }

    .l-topNavFiltroPesq {
        grid-area: topNav;
        background: #ffffff;
        color: #ffffff;
        padding: 0px;
        display: inline-flex;
        width: 100%;
    }

    .l-headerNav {
        grid-area: headerNav;
        background-color: #ffffff;
        border-bottom: solid 2px rgb(235, 232, 232);
        margin-bottom: 2px;
        width: 100%;
    }

    .l-bottomNav {
        display: none;
    }

    .l-mainFiltroPesq {
        grid-area: main;
        margin: 1rem 0;
        width: 100%;
    }

    .l-footerFiltroPesq {
        grid-area: footer;
        background: #2f3640;
    }

    .l-footerBottomFiltroPesq {
        grid-area: footerBottom;
        background: #252730;
    }

    /* .filterMobile {
        display: none;
    } */

    .center_header {
        position: relative;
        width: 100%;
    }

    .tilteFilterProd {
        width: 100%;
        text-align: center;
    }

    .tilteFilterProd h4 {
        font-family: "Bowlby";
        margin: .6rem 0;
        font-size: 20px;
    }

    .tilteFilterProd i {
        color: #9C45EB;
    }

    .center_header h5 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 2rem;
        color: #252730;
        font-size: 15px;
    }

    .selectFilter {
        width: 50%;
        float: right;
        margin-right: 10%;
        font-family: "Raleway";
        height: 25px;
        position: relative;
        /* top: 0px; */
        border: none;
        background: rgb(243, 240, 240);
        border-radius: 2px;
    }

    .selectFilter option {
        border: none;
    }

    .filtro_pesquisaMobile {
        display: none;
    }

    .filtro_pesquisa {
        width: 20%;
        height: auto;
        float: left;
        margin: 0;
        border-right: rgb(243, 240, 240) solid 1px;
        border-bottom: rgb(243, 240, 240) solid 1px;
        border-radius: 3px;
        background: #ffffff;
        padding-bottom: .4rem;
    }

    .divTitleFilter {
        width: 100%;
        height: 25px;
        background: rgb(243, 240, 240);
        border-radius: 3px;
    }

    .titleFilter {
        text-align: left;
        color: #252730;
        margin: 0;
        font-size: 15px;
        background: transparent;
        font-family: "Raleway";
        height: 100%;
        margin-left: 10%;
        padding-top: 1%;
    }

    .titleConfigFilter {
        position: relative;
        width: 10%;
        margin: .6rem 0;
        font-size: 13px;
        font-family: "Raleway-Medium";
        margin-left: 10%;
        color: #2f3640;
    }

    .titleConfigFilter i {
        color: #2f3640;
    }

    .divFilter {
        margin: 1rem 0;
    }

    .divShowProdFilter {
        position: relative;
        width: 78%;
        height: 100%;
        /* left: 20%; */
        float: right;
    }

    .divShowProdFilter .prod {
        position: relative;
        width: 29%;
        float: left;
        margin: auto;
        border: #e2e3e6 solid 1px;
        border-radius: 3px;
        padding: .5rem;
        margin-left: 1%;
        margin-bottom: 1%;
    }

    .divShowProdFilter .prod img{
        position: relative;
        width: 50%;
        left: 25%;
    }

    .titleProdFilter {
        position: relative;
        width: 100%;
        margin: .6rem 0;
    }

    .priceProdFilter {
        margin: .4rem 0;
        font-family: "Karla";
    }

    .btnFavoriteFilter {
        float: right;
        color: #9C45EB;
        font-size: 18px;
    }
    
    .divisorFilter {
        position: relative;
        width: 100%;
        height: .3rem;
        background: #9C45EB;
        border-radius: 2px;
    }

    .listFilterOptions {
        list-style: none;
    }

    .celulaListFilterOpt {
        font-size: 13px;
        margin: .4rem 0;
    }

    .celulaListFilterOpt a {
        color: #2f3640;
        text-decoration: none;
    }
}