/* e.conomize - 2019 */
/* ============ */

/* PAGE --> ADMIN */

@font-face {
    font-family: "Rubik";
    src: url('../../style/fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
    font-family: "Exo";
    src: url('../../style/fonts/Exo2/Exo2-Medium.ttf');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('../../style/fonts/SourceSansPro/SourceSansPro-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
        background-color: #ffffff;
}

.l-wrapper {
    display: grid;
}

@media(min-width: 82em) and (max-width: 99.9em) {
    .l-wrapper {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: 5em 100vh 15em;
        grid-template-areas:
        "menu menu header header header header header header header header header header"
        "menu menu main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
        ;
    }

    .l-header {
        grid-area: header;
        width: 100%;
        background-color: #2f3640;
        font-size: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 1;
    }

    .l-menu {
        grid-area: menu;
        background-color: #2f3640;
    }

    .l-main {
        grid-area: main;
        background-color: #ffffff;
    }

    .l-footer{
        grid-area: footer;
        background-color: #2f3640;
    }

    /* HOME */

    .tituloAdminPage {
        font-family: 'Rubik';
        color: #00cfd0;
        font-size: 3rem;
        position: relative;
        margin: 0;
        text-align: center;
        height: 5rem;
        line-height: 5rem;
    }


    .listaTrocaPagina {
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .celulaTrocaPagina {
        position: relative;
        width: 100%;
        height: 3rem;
        line-height: 3rem;
        transition: 200ms all ease-in-out;
        border: transparent solid 2px;
        cursor: pointer;
    }

    .celulaTrocaPagina:hover {
        border-bottom: #82ff05 solid 2px;
    }

    .linkTrocaPagina {
        text-decoration: none;
        color: #ffffff;
        font-family: 'Exo';
        font-size: 1.1rem;
    }

    /* PÃGINA --> inserir_produto.php */

    .formInserirProdutos {
        position: relative;
        top: 2.5rem;
        font-family: 'Exo';
    }

    .divCadProduto {
        height: 600px;
        overflow-y: auto;
    }
}