/* e.conomize - 2019 */
/* ============ */

/* PAGE --> ADMIN */

@font-face {
    font-family: "Rubik";
    src: url('../../style/fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
    font-family: "Exo";
    src: url('../../style/fonts/Exo2/Exo2-Medium.ttf');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('../../style/fonts/SourceSansPro/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: "Raleway";
    src: url('../../style/fonts/Raleway/Raleway-Light.ttf');
}

@font-face {
    font-family: "Raleway-Medium";
    src: url('../../style/fonts/Raleway/Raleway-Medium.ttf');
}

body {
    margin: 0;
    padding: 0;
        background-color: #ffffff;
}

.l-wrapper {
    display: grid;
}

@media(min-width: 82em) and (max-width: 99.9em) {
    .l-wrapper {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: 5em auto 5em;
        grid-template-areas:
        "menu menu header header header header header header header header header header"
        "menu menu main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
        ;
    }

    .l-header {
        grid-area: header;
        width: 100%;
        background-color: #9C45EB;
        /* font-size: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 1; */
    }

    .l-menu {
        grid-area: menu;
        background-color: #9C45EB;
    }

    .l-main {
        grid-area: main;
        background-color: #ffffff;
        border: solid 4px rgb(228, 225, 225);
        border-right: none;
    }

    .l-footer{
        grid-area: footer;
        background-color: #9C45EB;
    }

    /* HOME */

    .tituloAdminPage {
        font-family: 'Rubik';
        color: #333;
        font-size: 2.2rem;
        position: relative;
        margin: 0;
        text-align: center;
        height: 5rem;
        line-height: 5rem;
    }

    .linkCompanyNameAdm {
        position: relative;
        width: 100%;
    }

    .linkCompanyNameAdm img {
        position: relative;
        width: 15rem;
    }

    .comapanyName {
        width: 100%;
        text-align: center;
    }

    .listaTrocaPagina {
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .celulaTrocaPagina {
        position: relative;
        width: 80%;
        left: 10%;
        height: 2.4rem;
        transition: 200ms all ease-in-out;
        border: transparent solid 2px;
        cursor: pointer;
    }

    .celulaTrocaPagina:hover {
        border-bottom: #ccc solid 2px;
    }

    .linkTrocaPagina {
        text-decoration: none;
        color: #ffffff;
        font-family: 'Exo';
        font-size: 1rem;
        text-align: left;
        line-height: 40px;
    }

    .notification {
        position: absolute;
        right: 3%;
        top: 2%;
        font-size: 20px;
        color: #fff;
    }
    
    .qtdNotifi {
        font-size: 10px;
        width: 100%;
        text-align: center;
        line-height: 22px;
        background: red;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        position: relative;
        top: -45px;
        left: 6px;
    }

    .linkAlterAdm {
        text-decoration: none;
        color: #9C45EB;
        font-family: "Raleway-Medium";
        position: relative;
        left: 2%;
        top: 1rem;
        font-size: 14px;
    }

    /* PÃGINA --> inserir_produto.php */

    form {
        position: relative;
        top: 2.5rem;
        font-family: 'Exo';
    }

    .divCadProduto {
        height: 600px;
        overflow-y: auto;
    }
}